// Social share styles
//======================

.social-menu
	a
		&[title="facebook"]
			background: url(../images/facebook.svg) no-repeat center

		&[title="twitter"]
			background: url(../images/twitter.svg) no-repeat center

		&[title="gplus"]
			background: url(../images/gplus.svg) no-repeat center

		&[title="instagram"]
			background: url(../images/instagram.svg) no-repeat center

		&[title="thumblr"]
			background: url(../images/thumblr.svg) no-repeat center
		
		&[title="linkedin"]
			background: url(../images/linkedin.svg) no-repeat center		

	.dot-irecommendthis
		background: url(../images/heart.svg) no-repeat center
		margin: 0
		padding: 30px 0
		display: inline-block
		width: 11.66667%
		text-align: center
		border: 1px solid $mw-gray-light			
		border-left: 0
		float: right
		position: relative
		+transition(all, 0.2s, ease)
		-webkit-filter: grayscale(100%)
		-moz-filter: grayscale(100%)
		-o-filter: grayscale(100%)
		filter: grayscale(100%)
		cursor: pointer

		&.active, &:hover
			-webkit-filter: grayscale(0)
			-moz-filter: grayscale(0)
			-o-filter: grayscale(0)
			filter: grayscale(0)
		
		.dot-irecommendthis-count
			display: none